.app__navbar {
    width: 100%;
    display: flex;
    /* space between = everything close to side */
    /* space around gives more space for content to be balanced for now */
    justify-content: space-around;
    align-items: center;
    /* var = css variable */
    background: var(--color-black)
}